	<!-- dim-popup -->
	<div class="dim-layer">
		<div class="dimBg"></div>
		<div id="layer2" class="pop-layer">
			<div class="pop-container">
				<div class="pop-conts">
					<fieldset class="forms-agreements">
						<div class="all-agree-check">
							<input type="checkbox" name="allcheck" id="allcheck">
							<label class="label" for="allcheck">전체동의</label>
						</div>
	
						<ul class="list-agreements">
							<li class="item-agreement">
								<input type="checkbox" name="required" id="req01">
								<label class="label" for="req01">
									(필수)개인(신용)정보 제공동의서_(주)현대이지웰
								</label>
								<a href="#popup-modal-01" class="btn-view">

								</a>
							</li>
							<li class="item-agreement">
								<input type="checkbox" name="required" id="req02">
								<label class="label" for="req02">
									(필수)개인(신용)정보 제공동의서_참좋은여행(주)
								</label>
								<a href="#popup-modal-02" class="btn-view">

								</a>
							</li>
							<li class="item-agreement">
								<input type="checkbox" name="required" id="req03">
								<label class="label" for="req03">
									(필수)개인(신용)정보 제공동의서_(주)비즈인사이트
								</label>
								<a href="#popup-modal-03" class="btn-view">

								</a>
							</li>
                        </ul>
					</fieldset>
				</div>
				<div class="btn-c">
					<a href="#" class="btn-layerClose">
						확인
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //dim-popup -->
	<!-- popup modal -->
    <div id="popup-modal-01" class="layout-popup-modal">
        <h1 class="layout-popup-modal-header">(필수)개인(신용)정보 제공동의서
            <a class="popup-modal-dismiss" href="#" data-role="button" data-label="닫기">
				<img src="../images/btn_modalclose.png" alt="닫기버튼">
			</a>
        </h1>
        <div class="layout-popup-modal-contents">
                <iframe class="layout-modal-iframe"
				     src="../html/emPrivacy_easywell.html" frameborder="0"></iframe>
        </div>
        <div class="layout-popup-modal-footer">
            <a class="popup-modal-dismiss" href="#">확인</a>
        </div>
    </div>

    <div id="popup-modal-02" class="layout-popup-modal">
        <h1 class="layout-popup-modal-header">(필수)개인(신용)정보 제공동의서
            <a class="popup-modal-dismiss" href="#" data-role="button" data-label="닫기">
				<img src="../images/btn_modalclose.png" alt="닫기버튼">
			</a>
        </h1>
        <div class="layout-popup-modal-contents">
                <iframe class="layout-modal-iframe"
				     src="../html/emPrivacy_travel.html" frameborder="0"></iframe>
        </div>
        <div class="layout-popup-modal-footer">
            <a class="popup-modal-dismiss" href="#">확인</a>
        </div>
    </div>

    <div id="popup-modal-03" class="layout-popup-modal">
        <h1 class="layout-popup-modal-header">(필수)개인(신용)정보 제공동의서
            <a class="popup-modal-dismiss" href="#" data-role="button" data-label="닫기">
				<img src="../images/btn_modalclose.png" alt="닫기버튼">
			</a>
        </h1>
        <div class="layout-popup-modal-contents">
                <iframe class="layout-modal-iframe"
				     src="../html/emPrivacy_bize.html" frameborder="0"></iframe>
        </div>
        <div class="layout-popup-modal-footer">
            <a class="popup-modal-dismiss" href="#">확인</a>
        </div>
    </div>
	<!-- //popup modal -->
