			<!-- include - 상단 -->
			<div class="svcinfo-top">
                <p class="logo">
                    <img src="../images/em/vplogo.png" alt="브이피(주)">
                </p>
                <div class="contact-area">
                    <div class="contact">
                        <p>해지 문의</p>
                        <p>지역번호 없이<br>1588 - 3483</p>
                    </div>
                </div>
                <div class="text-area">
                    <p class="text-large">브이피㈜ 쇼핑부스터팩에<br>가입하신 회원님께 깊은 감사를 드립니다.</p>
                    <p class="text-normal">
                        쇼핑부스터팩은 브이피(주)에서 제공하는 서비스로서,<br>
                        앞으로도 브이피(주)는 회원님의 알뜰하고 실용적인 쇼핑 생활에 도움이 되도록<br>
                        최상의 서비스로 보답 드리겠습니다.<br><br>
                        브이피㈜ 임직원 일동
                    </p>
                </div>
            </div>
            <!-- //include - 상단 -->