@@if(type == "svcInfo"){
    <!-- contents // -->
    <div style="margin:20px 0 30px 0; padding:20px 20px 20px 20px; background:#fff; text-align: center;">
        <p style="text-align: center;">
            <img src="../images/icon_hyundaicard.png" style="width:170px; height:auto;">
        </p>
    }
    @@if(type == "em"){
            <p
            style="display:block; font-size:28px; color:#000; font-weight:700; line-height:44px; padding:20px 0 0 0; margin:0;">
            <span style="color:#1e75d6;">트래블팩</span>을
            <span style="white-space:nowrap;">구독해주신</span>
            <span style="white-space:nowrap;">회원님께</span>
            <span style="white-space:nowrap;">깊은 감사를</span>
            <span style="white-space:nowrap;">드립니다</span>
        </p>
    }
        <!--p style="margin:0px 10px 0 10px; padding:20px 10px; font-size:16px; color:#333; line-height:26px; background:#ebf1f5; text-align: center; ">
                    <strong style="text-decoration: underline; color:#000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;홍길동&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> 회원님의 온라인쇼핑팩 가입을 진심으로 축하드립니다.<br>
                    회원님께서는 <strong style="text-decoration: underline; color:#000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2020년&nbsp;&nbsp;5월&nbsp;&nbsp;1일&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> 온라인쇼핑팩에 가입하셨습니다.
                </p-->
        @@if(type == "em_LMS"){

        <dl style="margin:0px 10px 0 10px; padding:0; text-align:left;" >
            <dt style="padding:0;margin:0;line-height:21px;font-size:17px;color:#000;font-weight:600;"></dt>
            <dd style="display:block;padding:0;margin:6px 0 0 0;font-size:15px;color:#666;line-height:26px" >
                <ul style="margin:0;padding:0;text-align:left;list-style: none;font-size:15px;">
                    <li style="list-style:none;padding:0;margin:5px 0 10px 0;"></li>
                    <li style="list-style:none;overflow:hidden;padding:0px;margin:15px 0 0 0;color:#333;line-height:24px;font-size:15px;">
                        <ul style="margin:0;padding:0;text-align:left;list-style:none;font-size:15px;font-weight:normal;border:1px solid #e1e1e1;padding:10px 20px;margin:10px 0 0 0;overflow:hidden;">
                            <li style="list-style:none;padding:18px 0;margin:0;line-height:24px;">
                                <p style="margin:0;padding:0;font-size:17px;color:#000;font-weight:700;">이용 방법</p>
                                <ul style="text-align:left; list-style:none;padding:0;margin:10px 0 0 10px;color:#666;">
                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.7em; margin-right: 1em;">
                                        <strong style="color:#333;">- 구독 신청 후, 매월초에 회원님의 휴대전화로 상품 이용 안내 문자를 보내드립니다.</strong>
                                        <ul style="margin-left:10px;text-indent: -0.7em;">
                                            <li>&bull; 문자수신 &gt; 서비스 이용하기 URL 접속 &gt; 서비스 이용</li>
                                            <li>&bull; 피처폰을 사용하고 계신 회원님은 태블릿PC를 통한 접속 또는 고객센터로 문의바랍니다.</li>
                                        </ul>
                                    </li>
                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.6em; margin-right: 1em;">
                                        <strong style="color:#333;">- 서비스 문의 (평일 9:00~18:00, 주말 및 공휴일 제외)</strong>
                                    </li>
                                    <li>&bull; 상품 및 이용 문의(<a href="tel: 02-360-2596" style="color:#1e75d6; text-decoration: none;">
                                        <span style="color:#1e75d6;">&#9742;  02-360-2596</span></a>)
                                    </li>
                                    <li style="text-indent: -0.7em; padding-left: 0.7em;">&bull; 트래블팩 고객센터 (<a href="tel:1588-3483"  style="color:#1e75d6; text-decoration: none;">
                                        <span style="color:#1e75d6; ">&#9742; 1588-3483</span></a>)
                                    </li>
                              </ul>
                          </li>
    
                    <li style="list-style:none;padding:18px 0;margin:0;line-height:24px;" >
                        <p style="margin:10px 0 0;padding:0;font-size:17px;color:#000;font-weight:700;">서비스</p>
                        <div style="margin:10px 0 0 0;padding:0;">
                            <table width="100%" cellspacing="0" cellpadding="0"
                                style="margin:0;padding:0; font-size:15px;  border-top:2px solid #333; table-layout:fixed;"
                                summary="트래블팩 서비스 안내표 - 트래블팩 서비스 항목과 내용으로 구성되어 있다.">
                                <caption
                                    style="display: block; font-size: 0; height: 0px; left: -9999px; line-height: 0; overflow: hidden; text-indent: -9999px; width: 0px;">
                                    서비스 안내표.
                                </caption>
    
                                <colgroup>
                                    <col width="25%">
                                    <col width="*">
                                </colgroup>
    
                                <thead>
                                    <tr>
                                        <th colspan="1" rowspan="1" scope="col"
                                            style="padding:13px 10px; border-bottom:1px solid #e1e1e1; color:#000; font-weight:600; text-align:center;">
                                            서비스
                                        </th>
                                        <th colspan="1" rowspan="1" scope="col"
                                            style="padding:13px; border-bottom:1px solid #e1e1e1; color:#000; font-weight:600;text-align:center;">
                                            상세
                                        </th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr>
                                        <td style="padding:13px 10px;margin:0;  vertical-align:middle; border-bottom:1px solid #e1e1e1; text-align:center;font-size:14px;color:#333;font-weight:700; white-space: nowrap;">
                                            패키지 여행
                                        </td>
                                        <td style="padding:13px 0 13px 20px;margin:0;border-bottom:1px solid #e1e1e1; text-align:center;font-size:14px;text-align:left;color:#333;">
                                            <p style="padding:0; margin:0;text-align:left;font-size:14px;color:#333;font-weight:600; line-height: 1.4;">
                                                참좋은여행에서 패키지 여행 상품 결제 시 트래블팩 회원은 할인이 가능합니다.
                                            </p>
                                            <ul style="text-align:left; list-style:none;padding:0 0 0 13px;margin:10px 0 0 0; line-height:1.3;">
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; margin-right: .6em;color: #666 ">
                                                    &bull; 할인내용
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                    - 30만원 할인(상품단가 3백만원 이상 패키지 여행상품 구매시, 6개월 이상 트래블팩 유지회원 대상 제공)
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                    - 10만원 할인 (상품단가 1백만원 이상 패키지 여행상품 구매시, 트래블팩에 가입한 다음달부터 사용 가능) 
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                    - 5만원 할인 (상품단가 70만원 이상 패키지 여행상품 구매시) 
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                    - 3만원 할인 (상품단가 50만원 이상 패키지 여행상품 구매시)
                                                </li>
                                            </ul>
                                            <ul style="text-align:left; list-style:none;padding:0 0 0 13px;margin:10px 0 0 0; line-height:1.3;">
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; margin-right: .6em;color: #666 ">
                                                    &bull; 이용방법
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                   - 참좋은여행 패키지 여행상품 상담 및 결제 시, 참좋은여행 상담원에게
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                    ① 하나카드 투어메이트 회원
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                    ② 할인쿠폰번호
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                    위 두 가지 사항을 알려주셔야 합니다.
                                                </li>
                                            </ul>
                                            <ul style="text-align:left; list-style:none;padding:0 0 0 13px;margin:10px 0 0 0; line-height:1.3;">
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; margin-right: .6em;color: #666 ">
                                                    &bull; 유의사항
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                   - 각 할인혜택은 트래블팩 가입회원 본인에 한해 월별 1회 적용 (타인 양도불가)
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                    - 각 할인쿠폰은 1인 패키지 여행상품 금액이 해당 기준금액 이상일 경우, 1개의 할인 혜택에만 적용 (동일상품 중복 적용 불가)
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                    - 각 할인혜택은 해외패키지, 국내패키지 여행상품에 적용 가능
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                    - 각 할인쿠폰은 참좋은여행 직판 예약 시 적용 가능
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                    - 각 할인쿠폰은 참좋은여행 상담원에게 예약 시 적용요청
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                    - 참좋은여행 포인트 적립 및 사용불가
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                    - 참좋은여행 정책에 의해 일부 상품은 할인 혜택이 제한될 수 있음
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                    - 패키지 여행 관련 모든 사항은 참좋은여행 이용약관에 다르며, 서비스 관련 모든 책임은 참좋은여행에 있음
                                                </li>
                                                <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px; text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                   - 참좋은여행 고객센터 (1588-7557 / 운영시간 9:00~18:00)
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:13px 10px;margin:0;  vertical-align:middle; border-bottom:1px solid #e1e1e1; text-align:center;font-size:14px;color:#333;font-weight:700;line-height: 1.4;white-space: nowrap;">
                                            호텔/숙박
                                        </td>
                                        <td style="padding:13px 0 13px 20px;margin:0;border-bottom:1px solid #e1e1e1; text-align:center;font-size:14px;text-align:left;color:#333; ">
                                            <p style="padding:0 0 3px 0; margin:0; text-align:left;font-size:14px;color:#333;font-weight:600;line-height: 1.4; text-indent: -1em;  padding-left: 1em;">
                                                1. 서비스 이용 안내 문자의 URL을 접속하여 ‘트래블팩 전용 호텔스닷컴페이지 바로가기’를 통해 국내&middot;외숙박 예약 시, 최대 10% 할인된 가격으로 이용하실 수 있습니다. (단, 현대카드로 즉시 결제시 적용 가능)</p>
                                            <p style="padding:0; margin:0;text-align:left;font-size:14px;color:#333;font-weight:600;line-height: 1.4;  text-indent: -1em;  padding-left: 1em;">
                                                2. 결제건당 1만원 캐시백 혜택을 추가로 드립니다. (단, 3개월 이상 상품 유지회원에 한하며, 3개월에 1회 캐시백 제공) </p>
                                                <ul style="text-align:left; list-style:none;padding:0 0 0 13px;margin:10px 0 0 0; line-height:1.3;">
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; margin-right: .6em;color: #666 ">
                                                        &bull; 이용방법
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        1. 트래블팩 전용 호텔스닷컴페이지 바로가기
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        2. 원하는 날짜와 호텔 선택
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        3. 예약정보 및 지불정보 입력
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        4. ‘쿠폰적용’ 선택 후 쿠폰 할인코드 입력(VPHYUNDAI10)
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        5. ‘VPHYUNDAI10’ 입력 후 쿠폰 적용하기 선택
                                                    </li>
                                                </ul>
                                                <ul style="text-align:left; list-style:none;padding:0 0 0 13px;margin:10px 0 0 0; line-height:1.3;">
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; margin-right: .6em;color: #666 ">
                                                        &bull; 유의사항
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 서비스 이용 안내 문자의 URL을 접속하여 ‘트래블팩 전용 호텔스닷컴페이지 바로가기’를 통해 해당페이지에 접속 및 결제한 회원에 한해 할인혜택이 적용
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 즉시 할인은 결제가 완료된 후에는 적용이 불가하며, 최종 결제 전 할인코드 적용 확인 필수
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 일부 호텔은 할인 제외되며 사전 고지 없이 변경될 수 있음 <a href="http://kr.hotels.com/page/ko-hotel-exclusions/?pos=HCOM_KR&locale=ko_KR" style="color:#1e75d6; text-decoration: underline;">(할인제외호텔 확인하기)</a>
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 객실 이용요금에 한해 할인 적용되며 세금, 서비스요금, 추가 이용요금은 할인 제외
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 예약 전 취소, 환불 등의 조건 확인 필수
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 예약 1건당 1개의 할인쿠폰만 사용 가능, 여러 객실 이용해도 할인은 1개 객실에만 적용
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 원화 결제시에만 상기 혜택 적용 가능
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #1e75d6; ">
                                                        - 결제 불가 카드 : 법인, 체크, 하이브리드, Gift/선불카드 및 Chameleon
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 다른 할인서비스 및 쿠폰과 중복 적용 불가
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 예약 및 결제 후, 숙박을 취소할 경우 혜택은 자동취소(캐시백 포함 취소)                                                     
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 호텔/숙박 관련 사항은 호텔스닷컴 이용약관에 따르며, 서비스 관련 모든 책임은 호텔스닷컴에 있음
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 상기 혜택은 당사 및 제휴사 사정에 의해 변경 또는 중단 가능
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 호텔스닷컴 고객센터 (02-3480-0145 / 운영시간 매일 09:00~18:00 / E-mail : CS@koreasupport.hotels.com)
                                                    </li>
                                                </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:13px 10px;margin:0;  vertical-align:middle; border-bottom:1px solid #e1e1e1; text-align:center;font-size:14px;color:#333;font-weight:700;line-height: 1.4;white-space: nowrap;">
                                            여행자보험
                                        </td>
                                        <td style="padding:13px 0 13px 20px;margin:0;border-bottom:1px solid #e1e1e1; text-align:center;font-size:14px;text-align:left;color:#333; ">
                                            <p style="padding:0 0 3px 0; margin:0; text-align:left;font-size:14px;color:#333;font-weight:600;line-height: 1.4;">
                                                서비스 이용 안내 문자의 URL을 접속하여 ‘여행자보험 상담 및 예약센터’를 통해 회원 본인의 여행자보험 가입 시, 동반 1인의 여행자 보험료는 무료입니다. (단, 3개월에 1회 혜택 제공)</p>
                                                <ul style="text-align:left; list-style:none;padding:0 0 0 13px;margin:10px 0 0 0; line-height:1.3;">
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; margin-right: .6em;color: #666 ">
                                                        &bull; 유의사항
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 회원 본인과 동일한 일정으로 여행하는 동반 1인에 한해 혜택 적용
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 회원 본인의 보험료는 회원이 납부하여야 함
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 여행 출발(출국) 전날까지 여행자보험에 가입하시고, 보험료 납부가 완료 되어야 보험효력이 개시됨<br>(여행자보험 가입 상담 가능시간은 평일 9시~18시)
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 회원 본인의 여행자보험 취소 시, 동반자 여행자보험은 자동 취소됨
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 보험사 사정에 의해 제공 가능한 여행자보험은 변경될 수 있음
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 여행자보험 관련 사항은 보험사 정책에 따르며, 여행자보험 관련 모든 책임은 보험사에 있음
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 여행자보험 상담 및 예약센터 (02-360-2596 / 평일 09:00~18:00, 주말 및 공휴일제외) 
                                                    </li>
                                                </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:13px 10px;margin:0;  vertical-align:middle; border-bottom:1px solid #e1e1e1; text-align:center;font-size:14px;color:#333;font-weight:700;line-height: 1.4;white-space: nowrap;">
                                            허츠 렌터카
                                        </td>
                                        <td style="padding:13px 0 13px 20px;margin:0;border-bottom:1px solid #e1e1e1; text-align:center;font-size:14px;text-align:left;color:#333; ">
                                            <p style="padding:0 0 3px 0; margin:0; text-align:left;font-size:14px;color:#333;font-weight:600;line-height: 1.4;">
                                                서비스 이용 안내 문자의 URL을 접속하여 '트래블팩 전용 허츠 바로가기'를 통해 예약 시, 최대 10% 추가할인 요금이 적용됩니다.</p>
                                                <ul style="text-align:left; list-style:none;padding:0 0 0 13px;margin:10px 0 0 0; line-height:1.3;">
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; margin-right: .6em;color: #666 ">
                                                        &bull; 유의사항
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - ‘<a href="#" style="color:#1E75D6; text-decoration: underline;">트래블팩 전용 허츠 바로가기</a>’를 통해 예약한 회원에 한해 할인요금 적용
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 예약은 출국 24시간 이전에 완료되어야 하며 예약 시 ‘할인 프로그램 (CDP)번호' 란에 <span style="color: #333;">2213598</span> 입력 여부 확인
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 예약은 차량 등급별로 가능하며 특정 차종이나 색상 지정 불가<br/>
                                                        (영업소 차량 수급사정에 따라 차량이 변동될 수 있음)
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 다른 할인행사 또는 프로모션과 중복 적용 가능여부는 예약 시 확인 후 진행
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 허츠의 기본 임차자격 및 이용규정, 지역별 임차기간 및 반납규정, 예약 요금제별 규정 및 조건이 적용 됨.
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 일시적으로 할인이 제한되는 기간이 적용될 수 있음
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 허츠렌터카 관련 사항은 허츠 이용약관에 따르며, 서비스 관련 모든 책임은 허츠에 있음
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 문의 : 전화 1600-2288 / 이메일 cskorea@hertz.com
                                                    </li>
                                                </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:13px 10px;margin:0;  vertical-align:middle; border-bottom:1px solid #e1e1e1; text-align:center;font-size:14px;color:#333;font-weight:700;line-height: 1.4;white-space: nowrap;">
                                            KTX 예매
                                        </td>
                                        <td style="padding:13px 0 13px 20px;margin:0;border-bottom:1px solid #e1e1e1; text-align:center;font-size:14px;text-align:left;color:#333; ">
                                            <p style="padding:0 0 3px 0; margin:0; text-align:left;font-size:14px;color:#333;font-weight:600;line-height: 1.4;">
                                                서비스 이용 안내 문자의 URL을 접속하여 ‘트래블팩 전용 KTX예매 바로가기’를 통해 KTX 승차권 예매 시, 할인된 가격으로 이용하실 수 있습니다. (할인율 및 이용가능한 열차 스케줄 상이)</p>
                                                <ul style="text-align:left; list-style:none;padding:0 0 0 13px;margin:10px 0 0 0; line-height:1.3;">
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; margin-right: .6em;color: #666 ">
                                                        &bull; 유의사항
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 서비스 이용 안내 문자의 URL을 접속하여 ‘트래블팩 전용 KTX예매 바로가기’를 통해 접속 및 결제한 회원에 한해 혜택이 적용
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 예약 및 결제취소 시, 혜택은 자동취소
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 제휴사 사정에 의해 할인율 또는 할인가능한 열차종류가 제한될 수 있음
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - KTX 예매 관련 사항은 현대이지웰 이용약관에 다르며, 서비스 관련 모든 책임은 현대이지웰에 있음
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 고객센터(02-2222-2655/2632 / 운영시간 평일 10:00 ~ 17:00)
                                                    </li>
                                                </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:13px 10px;margin:0;  vertical-align:middle; border-bottom:1px solid #e1e1e1; text-align:center;font-size:14px;color:#333;font-weight:700;line-height: 1.4;white-space: nowrap;">
                                            e매거진
                                        </td>
                                        <td style="padding:13px 0 13px 20px;margin:0;border-bottom:1px solid #e1e1e1; text-align:center;font-size:14px;text-align:left;color:#333; ">
                                            <p style="padding:0 0 3px 0; margin:0; text-align:left;font-size:14px;color:#333;font-weight:600;line-height: 1.4;">
                                                여행관련 분야의 매거진을 매월 e-book 형태로 제공합니다. 언제 어디서나 마음껏 즐겨보세요.</p>
                                                <ul style="text-align:left; list-style:none;padding:0 0 0 13px;margin:10px 0 0 0; line-height:1.3;">
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; margin-right: .6em;color: #666 ">
                                                        &bull; 유의사항
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 하단 이용하기 버튼 선택 > 포인트샵 App 이동 및 e매거진 확인
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 최초 이용 : 포인트샵 App 다운로드 및 회원가입 및 자동로그인   체크 필요 (하단 이용하기 버튼 선택 시, App 다운로드 페이지로  이동)
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 제휴사 사정에 의해 할인율 또는 할인가능한 열차종류가 제한될 수 있음
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 매거진 종류는 제휴사 사정에 의해 변경될 수 있습니다
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.75em; padding-left: 13px; margin-right: .6em; color: #666; ">
                                                        - 매거진은 제휴사 사정에 의해 순차적으로 업데이트됩니다.
                                                    </li>
                                                    <li style="list-style:none; padding:2px 3px; margin:10px 0 0 0;text-align:left;font-size:14px;text-indent: -0.75em; margin-right: .6em; color: #666; ">
                                                        ※ e매거진은 포인트샵 App > 마이페이지에서 확인하실 수 있습니다
                                                    </li>
                                                </ul>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
    

                </ul>
                </li>
                </ul>
            </dd>
        </dl>
        <dl style="margin:0px 10px 0 10px; padding:0; text-align:left;">
            <dt style="padding:0;margin:0;line-height:21px;font-size:17px;color:#000;font-weight:600;"></dt>
            <dd style="display:block;padding:0;margin:6px 0 0 0;font-size:15px;color:#666;line-height:26px">
                <ul style="margin:0;padding:0;text-align:left;list-style: none;font-size:15px;">
                    <li style="list-style:none;padding:0;margin:5px 0 10px 0;"></li>
                    <li style="list-style:none;padding:18px 0;margin:0;line-height:24px;">
                        <p style="margin:0;padding:0;font-size:17px;color:#000;font-weight:700;">이용료 안내</p>
                        <ul style="text-align:left; list-style:none;padding:0;margin:10px 0 0 10px;color:#333;">
                            <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px; text-indent: -0.7em; margin-right: .6em; color:#1e75d6 ">
                                - 이용요금 4,900원(1개월 이용 기준, 부가세 포함)이 구독신청일에 결제됩니다.
                            </li>
                            <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.7em; margin-right: 1em;">
                                - 트래블팩은 서비스 이용 여부와 관계 없이 구독 신청하신 회원님께 매월 이용요금이 청구되며, 이용요금은 트래블팩 구성 및 업체 사정으로 변동될 수 있습니다.
                            </li>
                            <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.7em; margin-right: 1em;">
                                - 이용요금은 현대카드의 신용카드 대금납입방식에 따라 납부하여야 합니다.
                            </li>
                        </ul>
                    </li>
    
                    <li style="list-style:none;padding:9px 0 18px 0;margin:0;line-height:24px;">
                        <p style="margin:0;padding:0;font-size:17px;color:#000;font-weight:700;">유의사항</p>
                        <ul style="text-align:left; list-style:none;padding:0;margin:10px 0 0 10px;color:#333; line-height: 1.5;">
                            <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.7em; margin-right: 1em;">
                                - 현대카드는 통신판매 중개자로서 트래블팩 서비스 제공 및 관리는 브이피의 책임 하에 운영되며, 서비스 제공 및 운영 관리에 대한 모든 법적 책임은 브이피 주식회사에 있습니다.
                            </li>
                            <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.7em; margin-right: 1em;">
                                - 본 상품은 브이피 주식회사 또는 제휴업체의 파산, 해산, 화의, 회사정리 신청 및 기타 사유로 인해 서비스의 정상적인 제공이 불가능할 경우 서비스를 변경 또는 중단할 수 있습니다.
                            </li>
                            <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.7em; margin-right: 1em;">
                                - 현대카드 사정에 의해 캐시백 제외카드가 있을 수 있습니다.
                            </li>
                            <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.7em; margin-right: 1em;">
                                - 구독 해지는 현대카드 홈페이지에서 가능합니다.
                            </li>
                            <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.7em; margin-right: 1em;">
                                - 해지일로부터 90일 이내 재가입이 불가하며, 이후 가입 가능 상품은 변경될 수 있습니다.
                            </li>
                            <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.7em; margin-right: 1em;">
                                - 탈회, 카드 해지 또는 정지로 인해 30일 이상 이용금액 결제가 불가능한 경우 서비스는 자동으로 해지됩니다.
                            </li>
                            <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.7em; margin-right: 1em;">
                                - 구독 신청일 포함 7일 이후 해지 시, 위약금(납부한 이용금액의 10%)이 부과되며, 구독 잔여 기간 기준으로 일할 계산되어 환불됩니다.
                            </li>
                            <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.7em; margin-right: 1em;">
                                - 환불금액은 본인명의 결제계좌로 입금(해지 후 2~5영업일 소요) 또는 카드이용대금에서 차감됩니다.
                            </li>
                            <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.7em; margin-right: 1em;">
                                - 결제카드 분실 등 기타 사유로 인한 이용요금 미결제시 보유중인 다른 카드로 자동 변경하여 결제됩니다.
                            </li>
                            <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.7em; margin-right: 1em;">
                                - 구독 해지 시, 서비스 이용 및 사용이 불가합니다.
                            </li>
                            <li style="list-style:none; padding:2px 3px; margin:0;text-align:left;font-size:14px;text-indent: -0.7em; margin-right: 1em;">
                                - 서비스 제공 혜택은 제휴사 사정에 의해 변경 또는 중단될 수 있습니다.
                            </li>
                        </ul>
                    </li>
                </ul>
                </li>
                </ul>
            </dd>
        </dl>
        <!-- // contents -->
    }
    