<div class="footer-cscenter">
    <p class="cscenter">
        [투어메이트 고객센터] <a href="tel:1599-0986">1599-0986</a><br/>
        [여행자보험 및 홀인원 축하금 지원 문의] <a href="tel:02-360-2521">02-360-2521</a><br/>
        (평일 09:00~18:00, 주말 및 공휴일제외)
    </p>
</div>