	<!-- footer -->
	<footer class="footer-wrap">
		<address class="address">
			브이피(주) | 사업자등록번호 : 220-81-89229<br>
			(04548) 서울 중구 을지로 170 (을지로4가 323) <span class="nowrap">을지트윈타워</span> 13층
			<p class="copyright">Copyright © VP Inc. All right reserved.</p>
		</address>
	</footer>
	<!-- //footer -->