	<!-- header -->
	<header class="header-wrap main">
		<button id="asideOpen" class="button-slidemenu2">
			<span class="screen-out">슬라이드메뉴 열기</span>
		</button>  
        <h1 class="h1"> 투어메이트</h1>     
	</header>
	<!-- //header -->

	<!-- slidemenu -->
	<aside id="asidebar" class="slidemenu-wrap">
		<div class="my-area">
			<p class="img" role="img">
				<img src="../images/icon_slidemenu.png">
			</p>
			<p class="name">김하나님의<br>투어메이트 가입일은<br>2022년 5월 26일 입니다.</p>
			<!--<p class="service">투어메이트 가입일은<br>2022년 5월 26일 입니다.</p>-->
			<button id="asideClose" class="slidemenu-close">
				<span class="screen-out">슬라이드메뉴 닫기</span>
			</button>
		</div>
		<nav class="gnb-wrap">
			<ul class="gnb">
				<li><a href="svcInfo.html" class="gnb-link">서비스 안내</a></li>
				<li><a href="termAgree.html" class="gnb-link">이용약관</a></li>
				<li><a href="svcNotice.html" class="gnb-link">공지사항</a></li>
				<li><a href="svcFAQ.html" class="gnb-link">FAQ</a></li>
			</ul>
		</nav>
	</aside>
	<!-- //slidemenu -->
	<script type="text/javascript" src="../scripts/common.js"></script>
