<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>@@title - 하나카드 투어메이트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- do not link // -->
    <meta name="format-detection" content="no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />

    <link rel="stylesheet" href="../styles/style.min.css">
    <script type="text/javascript" src="../scripts/common/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../scripts/clipboard/clipboard-2.js"></script>
    <script type="text/javascript" src="../scripts/common.js"></script>
</head>