<div class="top_alert_wrap">
    <a class="top_alert" href="../jsp/termAgree_revised.html" title="바로가기">
        <div class="text_box">
            <p class="alert_title">
                쇼핑부스터팩 이용약관
                <span class="nowrap">개정 안내 (21.7.1)</span>
            </p>
        </div>
    </a>
    <button id="alert-close" class="alert-close">
        <span class="screen-out">슬라이드메뉴 닫기</span>
    </button>
</div>
