	<!-- slidemenu -->
	<aside id="asidebar" class="slidemenu-wrap">
		<div class="my-area">
			<p class="img" role="img">
				<img src="../images/icon_slidemenu.png">
			</p>
			<p class="name">김현대님의</p>
			<p class="service">트래블팩</p>
			<button id="asideClose" class="slidemenu-close">
				<span class="screen-out">슬라이드메뉴 닫기</span>
			</button>
		</div>
		<nav class="gnb-wrap">
			<ul class="gnb">
				<li><a href="svcInfo.html" class="gnb-link">서비스 안내</a></li>
				<li><a href="termAgree.html" class="gnb-link">이용약관</a></li>
			</ul>
		</nav>
	</aside>
	<!-- //slidemenu -->