#popup {
  z-index: 999;
  background: rgba(255,255,255,0.95);
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 90%;
  margin: 45px auto 0;
  box-sizing: border-box;
  left:50%;
  transform:translateX(-50%);
  font-family: sans-serif !important;
}
#popup .btnWrap {
  position: relative;
  width: 100%;
  height: 45px;
  box-sizing: content-box;
}
#popup .btnWrap > button {
  position: absolute;
}
#popup .btnWrap > button:nth-of-type(1) {
  left: 0;
  font-size: 3vw;
  text-align: left;
  text-indent: 20px;
  line-height: 45px;
}
#popup .btnWrap > button:nth-of-type(2) {
  right: 0;
  font-size: 25px;
  width: 45px;
  height: 45px;
  background: transparent;
}
#popup .area h2 {
  font-size: 30px;
  margin-bottom: 25px;
}
#popup .area .contentWrap {
  line-height: 1.5;
  margin-bottom: 25px;
  font-size: 16px;
}
#popup .area .box {
  text-align: left;
  width: 70%;
  margin: 0 auto;
  font-size: 14px;
}
#popup .area .box li {
  margin: 5px 0;
}
#popup .area .box li.indent {
  padding-left: 50px;
}
#popup .area .box li.logo_vp {
  text-align: center;
}
#popup .area .box li.logo_vp img {
  width: 40%;
  margin-top: 10px;
}

.btnClose {
  width: 90%;
  height: 45px;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  background: #1e75d6;
  cursor: pointer;
  margin: 0 auto;
  display: inline-block;
}/*# sourceMappingURL=popup.css.map */