@charset "UTF-8";
@import url(../../font/you_and_i_modern.css);
@import url(../../../node_modules/pretty-checkbox/dist/pretty-checkbox.min.css);
/* $font-size-m : 1rem;
$font-size-ll : 1.5rem; // 24px
$font-size-l : 1.25rem; // 20px
$font-size-ls : 1.125rem; // 18px
$font-size-s : .875rem;	// 14px
$font-size-ss : .75rem;	// 12px
$font-size-sss : .687rem;	// 11px */
/* $font-size-m : 1rem;
$font-size-ll : 1.5rem; // 24px
$font-size-l : 1.25rem; // 20px
$font-size-ls : 1.125rem; // 18px
$font-size-s : .875rem;	// 14px
$font-size-ss : .75rem;	// 12px
$font-size-sss : .687rem;	// 11px */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

dl, ul, ol, menu, li { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0 none; }

input, select, textarea, button { vertical-align: middle; }

input::-ms-clear { display: none; }

button { border: 0 none; background-color: transparent; cursor: pointer; }

address, caption, cite, code, dfn, em, var { font-style: normal; font-weight: normal; }

img { vertical-align: middle; }

/** common **/
html { box-sizing: border-box; -webkit-text-size-adjust: none; text-size-adjust: none; }

*, *:before, *:after { box-sizing: inherit; }

body, th, td, input, select, textarea, button { line-height: normal; font-family: "YouandiModernTR", AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif; color: #333; letter-spacing: -.025em; }

body { position: relative; margin: 0; width: 100%; height: 100%; min-height: inherit; font-size: 14px; font-family: "YouandiModernTR", AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif; line-height: 1.4; letter-spacing: -.5px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; text-size-adjust: none; background: #fff; }

/* basic */
.show { display: block; }

.hide { display: none; }

.overflow-hidden { overflow: hidden; }

.screen-out { position: absolute !important; width: 1px; height: 1px; font-size: 0; text-indent: -10000px; overflow: hidden; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); }

.txtbr { display: inline-block; line-height: 1; white-space: nowrap; word-wrap: break-word; text-overflow: ellipsis; -o-text-overflow: ellipsis; }

.nowrap { white-space: nowrap; }

/* 본문바로가기 */
/* .index {position: relative; width: 100%; z-index: 101;}
.accessibility{display:block; font-size:1.3em; left:0; position:absolute; text-align:center; top:-10000px; width:100%; z-index:910;}
a.accessibility:hover,
a.accessibility:focus,
a.accessibility:active{background-color:$secondary-color-2; color:$color-white; font-weight:bold; padding:15px 0; position:absolute; top:0; z-index:910;} */
/*** form reset ***/
/* input 기본 스타일 초기화 */
input { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

/* Select box 스타일 초기화 */
select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand { display: none; }

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input[type=number] { -moz-appearance: textfield; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"], input[type="reset"], input[type="button"], button { background: none; border: 0; color: inherit; /* cursor: default; */ font: inherit; line-height: normal; overflow: visible; padding: 0; -webkit-appearance: button; /* for input */ -webkit-user-select: none; /* for button */ -moz-user-select: none; -ms-user-select: none; }

input[type="button"]:disabled, button:disabled { background-color: #e7e7e7 !important; }

button, select, input[type=radio], input[type=submit], input[type=search] { overflow: visible; font-size: 14px; cursor: pointer; border: 0px; }

select::-ms-expand { display: none; }

input::-ms-clear { display: none; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #999; }

::-moz-placeholder { /* Firefox 19+ */ color: #999; }

:-ms-input-placeholder { /* IE 10+ */ color: #999; }

:-moz-placeholder { /* Firefox 18- */ color: #999; }

/* link Style */
a { color: #333; text-decoration: none; }

a:hover { color: #1a1a1a; opacity: .8; }

a, button { cursor: pointer; }

/* a:focus, input:focus, button:focus, textarea:focus, select { @extend %focus; } */
a:focus, input:focus, button:focus, textarea:focus, select { outline: 0; }

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/
/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/
/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/
/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/
/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/
/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/
@media screen and (max-width: 280px) { .top_alert_wrap .top_alert { padding-top: 1.3em !important; } }

@media screen and (max-width: 320px) { .top_alert_wrap .top_alert { padding-top: 1.5em !important; }
	.top_alert_wrap .top_alert .text_box .alert_title { font-size: .7rem; } }

@media screen and (max-width: 360px) { .main-tooltip { left: 0% !important; top: 75% !important; width: 180px; height: 40px; } }

@media screen and (max-width: 440px) { .main-tooltip { left: 3% !important; top: 75% !important; width: 180px; height: 40px; } }

@media screen and (max-width: 480px) { .main-tooltip { right: 0% !important; top: 72% !important; width: 195px; height: 40px; } }

@media screen and (max-width: 599px) { .main-tooltip { right: 5% !important; top: 72% !important; width: 195px; height: 40px; } }

@media screen and (min-width: 600px) { .main-tooltip { right: 23% !important; top: 70% !important; width: 200px; height: 40px; } }

@media screen and (min-width: 840px) { .main-tooltip { left: 30% !important; top: 70% !important; width: 200px; height: 40px; }
	.main-tooltip .tooltip-wrap .main-copy { font-size: 0.75rem; }
	.main-tooltip .tooltip-wrap .point-copy { font-size: .7rem; border-radius: 20px; }
	.main-tooltip::after { top: -10px !important; right: 45%; } }

/* list style */
[class*=list-type-] { margin-top: .3em; padding-left: 1em; }

[class*=list-type-] > li { position: relative; padding-left: .3em; }

[class*=list-type-] > li.list-none { list-style: none !important; }

[class*=list-type-] > li.list-none::before { content: ''; }

[class*=list-type-] > li + li { margin-top: .2em; }

.list-type-none { padding-left: 0; }

.list-type-none > li { text-indent: 0; }

.list-type-disc > li { text-indent: -.8em; }

.list-type-disc > li::before { content: '\2219'; margin-right: .3em; }

.list-type-circle > li { text-indent: -.8em; }

.list-type-circle > li::before { content: "o"; margin-right: .4em; font-size: 8px; }

.list-type-square > li { list-style: square; }

.list-type-dash > li { text-indent: -.8em; }

.list-type-dash > li::before { content: '-'; margin-right: .4em; }

.list-type-decimal > li { list-style: decimal; /*padding-left:1em*/}

.list-type-decimal-zero > li { list-style: decimal-leading-zero; }

.list-type-lower-roman > li { list-style: lower-roman; }

.list-type-upper-roman > li { list-style: upper-roman; }

.list-type-lower-greek > li { list-style: lower-greek; }

.list-type-lower-latin > li { list-style: lower-latin; }

.list-type-upper-latin > li { list-style: upper-latin; }

.list-type-armenian > li { list-style: armenian; }

.list-type-georgian > li { list-style: georgian; }

.list-type-lower-alpha > li { list-style: lower-alpha; }

.list-type-upper-alpha > li { list-style: upper-alpha; }

[class*=list-counter-] { padding-left: .8em; counter-reset: list; counter-reset: section; }

[class*=list-counter-] > li { position: relative; padding-left: .3em; line-height: 1.3; list-style: none; }

[class*=list-counter-] > li + li { margin-top: .2em; }

.list-counter-lower-alpha > li { text-indent: -.8em; }

.list-counter-lower-alpha > li:before { content: counter(list, lower-alpha) ") "; counter-increment: list; }

.list-counter-decimal > li { position: relative; text-indent: -.6em; }

.list-counter-decimal > li:before { content: counter(section) "."; counter-increment: section; display: inline-block; margin-right: .4em; font-size: inherit; text-align: right; line-height: 16px; vertical-align: middle; }

.list-counter-decimal-round > li { position: relative; text-indent: -.9em; }

.list-counter-decimal-round > li:before { content: counter(section) ")"; counter-increment: section; display: inline-block; margin-right: .4em; font-size: inherit; text-align: right; line-height: 16px; vertical-align: middle; }

.list-counter-decimal-circle { padding-left: 18px; }

.list-counter-decimal-circle > li { position: relative; text-indent: -18px; }

.list-counter-decimal-circle > li:before { content: counter(section); counter-increment: section; display: inline-block; margin-top: -1px; margin-right: 3px; padding: 0; width: 14px; height: 14px; font-size: 9px; text-align: center; text-indent: 0; line-height: 14px; border: 1px solid #333; border-radius: 50%; vertical-align: middle; }

.button-wrap.button-mt { margin-top: 30px; }

.button-wrap.button-mt20 { margin-top: 20px; }

.button-area { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }

.button-area li { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; height: 50px; font-size: 18px; }

.button-confirm { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; width: 100%; height: 100%; font-size: 16px; text-align: center; color: #fff; border-radius: 2px; background: #333333; }

.button-confirm:hover { color: #fff; background: #333333; }

.button-check { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; width: 100%; height: 100%; font-size: 14px; text-align: center; color: #333; border-radius: 2px; background: #fff; border: 1px solid #ddd; font-weight: 600; }

.jconfirm.jconfirm-my-theme .jconfirm-bg { background: rgba(0, 0, 0, 0.6); }

.jconfirm.jconfirm-my-theme .jconfirm-holder { padding: 18px; }

.jconfirm.jconfirm-my-theme .jconfirm-box { padding: 0; border-radius: 0; }

.jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-content-pane { margin-bottom: 0; vertical-align: middle; }

.jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-content { padding: 30px 18px; text-align: center; }

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; padding: 0; }

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button { margin: 0; width: 100%; height: 50px; font-size: 16px; color: #fff; border-radius: 0; background: #1e75d6; }

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button:hover { color: #fff; background: #185da9; cursor: pointer; }

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button.button-cancel { background: #999; }

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button.button-cancel:hover { background: gray; }

/*** 요약용 아코디언 UI ***/
.accordion-wrap { margin: 0 auto; padding: 0 16px 110px; line-height: 1.4; }

/*.accordion-wrap .bottom { padding-bottom: 70px; }*/

.accordion-wrap .accordion-area { color: #666; }

.accordion-wrap .accordion-area:last-child, .accordion-wrap .accordion-area.bottom { border-bottom: 1px solid #e1e1e1; }

.accordion-area.bottom {
    margin-bottom: 40px;
}

/* 아코디언 제목 */
.accordion-title { padding: 12px; border-top: 1px solid #e1e1e1; background: url(../../images/icon_pageDown.png) no-repeat; background-size: 18px 10px; background-position: right 12px top 50%; cursor: pointer; }

.accordion-title .down-arrow { position: relative; display: inline-block; width: 18px; height: 8px; overflow: hidden; position: absolute; right: 1rem; top: 46%; }

.accordion-title .down-arrow:before { content: ''; position: absolute; top: 50%; left: 50%; width: 8px; height: 8px; -webkit-transform: translate(-50%, -50%) scale(1, 0.888889) rotate(45deg); transform: translate(-50%, -50%) scale(1, 0.888889) rotate(45deg); margin-top: -3px; border-right: 2px solid #222; border-bottom: 2px solid #222; }

.accordion-title.first { border-top: 1px solid #e1e1e1; }

.accordion-title.active { border-top: 1px solid #000; background-image: url(../../images/icon_pageUp.png); }

.accordion-title.active .down-arrow:before { transform: translate(-50%, 4%) rotate(225deg); border-color: #000; }

.accordion-title:focus { outline: none; }

.accordion-title.active .maintitle, .accordion-title.active .subtitle { color: #000 !important; }

.accordion-title .maintitle { position: relative; display: inline-block; padding-right: 20px; color: #333; font-weight: 700; font-size: 14px; line-height: 1.5em; }

.accordion-title .subtitle { position: relative; display: inline-block; padding-right: 20px; color: #202125; font-weight: 400; }

/* 아코디언 본문 */
.accordion-content { display: none; padding: 0 16px 16px 16px; font-size: 0.85rem; line-height: 1.5; background: #fff; }

.accordion-content .inner-title { font-size: 0.875rem; color: #555; padding: 20px 0 10px 0; }

.accordion-content .svctb { margin: 0; width: 100%; border-top: 2px solid #000; }

.accordion-content .svctb thead th { padding: 13px 10px; background: #fafbfd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; color: #000; text-align: center; font-weight: 400; vertical-align: middle; font-weight: 600; word-break: keep-all; word-wrap: none; }

.accordion-content .svctb tbody td { padding: 13px 10px; margin: 0; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; text-align: left; color: #666; font-weight: 400; vertical-align: middle; font-size: 0.8rem; word-break: keep-all; line-height: 18px;}

.accordion-content .svctb thead th:last-child, .accordion-content .svctb tbody td:last-child { border-right: none; }

.accordion-content .svctb tbody td .top { padding-top: 10px; display: block; }

.accordion-content .svctb tbody td .bottom { padding-bottom: 10px; }

.accordion-content .svctb tbody td .bold { color: #222; font-weight: 400; }

.accordion-content .svctb tbody td.th_title { color: #222; text-align: center; font-weight: 700; line-height: 1.5em; word-break: keep-all; }

.accordion-content .svctb tbody td .desc-top { margin-bottom: 0.5rem; }

.accordion-content .svctb tbody td .list { padding-bottom: 5px; padding: 0 0 .3em 1em; text-indent: -.8em; }

.faq_answer_view {
    background: #f6f6f6;
    padding-top: 16px;
}

.mark_answer, .mark_question {
    color: #00907f;
    font-weight: 900;
    display: inline-block;
    margin-right: 3px;
}

.mark_answer {
    color: #333;
}

/* 200622 포샵 이벤트 Slide 추가 */
.contents-wrap .evtSlide { width: 100%; }

.contents-wrap .evtSlide img { display: block; width: 100%; }

.contents-wrap .evtSlide .slick-counter { position: absolute; top: 10px; right: 10px; background: rgba(0, 0, 0, 0.4); padding: 3px 0; width: 4em; text-align: center; border-radius: 2em; color: #FFF; font-size: .75rem; }

.contents-wrap .evtSlide .slick-counter .current { font-weight: 800; }

.header-wrap { position: fixed; top: 0; left: 0; padding: 0 18px 0 59px; width: 100%; height: 55px; z-index: 800; background: #00907F; }

.header-wrap img { width: 120px; position: absolute; right: 15px; top: 50%; transform: translate(0, -50%); }

.header-wrap .h1 { font-size: 16px; font-weight: bold; line-height: 55px; color: #fff; display: inline-block; }

.header-wrap .h1 .logo-img { display: inline-block; margin-right: 5px; width: 100px; font-size: 1px; color: transparent; background: url(../../images/logo_hd_wh.png) no-repeat; background-size: contain; background-position: 0 45%; vertical-align: top; }

.header-wrap.main { padding: 0 18px !important; background: #00907F; }

.header-wrap.main .h1 { color: #fff; margin-left: 45px; }

.header-wrap .button-slidemenu { position: absolute; top: 0; left: 0; width: 55px; height: 55px; background: url(../../images/icon_menu.png) no-repeat center; background-size: contain; z-index: 1000; }

.header-wrap .button-slidemenu2 { position: absolute; top: 0; left: 0; width: 55px; height: 55px; background: url(../../images/icon_menu_wh.png) no-repeat center; background-size: contain; z-index: 1000; }

.header-wrap .button-prev { position: absolute; top: 0; left: 0; width: 55px; height: 55px; background: url(../../images/icon_prev.png) no-repeat center; background-size: 55px 55px; z-index: 1000; }

.footer-wrap { text-align: center; background: #fff; border: 1px solid #eee; position: relative; }

.footer-wrap .address { padding: 18px; font-size: 12px; color: #666; }

.footer-wrap .address .copyright { margin-top: 10px; }

.footer-cscenter { bottom: 0; left: 0; width: 100%; background: #fafafa; position: fixed; }

.footer-cscenter .cscenter { padding: 10px 18px; font-size: 12px; text-align: center; color: #000; }

.btn-top { width: 2.5rem; height: 2.5rem; background: url(../../images/icon_top.png) 50% 50% no-repeat; background-size: cover; text-indent: -99999px; position: fixed; bottom: 4.2rem; right: 1rem; z-index: 99998; }

.main .contents-wrap { padding-top: 0; padding-bottom: 0; position: relative; }

/* /// 계절별 배경 /// */
/* 봄 */
.main .contents-wrap::before { position: fixed; content: ''; width: 100%; height: 100vh; background: url(../../images/main-bg-spring.png) no-repeat center 0; background-size: cover; overflow: hidden; max-width: 100vw; top: 0; left: 0; }

/* 여름 */
/*.main .contents-wrap::before { position: fixed; content: ''; width: 100%; height: 100vh; background: url(../../images/main-bg-summer.png) no-repeat center 0; background-size: cover; overflow: hidden; max-width: 100vw; top: 0; left: 0; }*/

/* 가을 */
/*.main .contents-wrap::before { position: fixed; content: ''; width: 100%; height: 100vh; background: url(../../images/main-bg-autumn.png) no-repeat center 0; background-size: cover; overflow: hidden; max-width: 100vw; top: 0; left: 0; }*/

/* 겨울 */
/*.main .contents-wrap::before { position: fixed; content: ''; width: 100%; height: 100vh; background: url(../../images/main-bg-winter.png) no-repeat center 0; background-size: cover; overflow: hidden; max-width: 100vw; top: 0; left: 0; }*/


.main .footer-cscenter { position: relative; }

.contents-wrap { padding-top: 55px; padding-bottom: 68px; min-height: 240px; background: #fff; }

.contents-wrap.no-top { padding-top: 0; }

.contents-wrap .sub-info { background-color: #f5f5f5; padding: .725rem 1rem; margin-bottom: 15px;}

.contents-wrap .title { margin: 30px 0 20px; font-size: 16px; font-weight: bold; color: #000; }

.contents-wrap .title.first { margin-top: 0; }

.contents-wrap .subtop-wrap img { width: 100%; }

.contents-wrap .mt { margin-top: 20px; }

.contents-wrap .inner-wrap { margin: 0 auto; padding: 30px 18px; max-width: 1024px; line-height: 1.4; }

.contents-wrap .inner-wrap .subtitle { margin: 20px 0; color: #000; }

.contents-wrap .inner-wrap ul[class*=list-type-] li, .contents-wrap .inner-wrap ol[class*=list-type-] li { margin: 10px 0; line-height: 1.5; color: #848484; word-break: keep-all; }

.contents-wrap .inner-wrap ul[class*=list-type-] li a, .contents-wrap .inner-wrap ol[class*=list-type-] li a { color: #848484; }

.contents-wrap .inner-wrap ul[class*=list-type-] li ul, .contents-wrap .inner-wrap ol[class*=list-type-] li ul { padding-left: 0.6em; }

.contents-wrap .inner-wrap ul[class*=list-type-] li ul li, .contents-wrap .inner-wrap ol[class*=list-type-] li ul li { margin: 5px 0; }

.contents-wrap .detail { color: #848484; }

.contents-wrap .revised_table { padding: 0; font-size: .85rem; line-height: 1.5; background: #fff; }

.contents-wrap .revised_table .svctb { margin: 0; width: 100%; border-top: 2px solid #000; }

.contents-wrap .revised_table .svctb thead th { padding: 13px 10px; border-bottom: 1px solid #ddd; color: #000; text-align: center; font-weight: 400; vertical-align: middle; }

.contents-wrap .revised_table .svctb tbody td { padding: 13px 10px; margin: 0; border-bottom: 1px solid #ddd; text-align: left; color: #666; font-weight: 400; vertical-align: top; font-size: .8rem; line-height: 1.3em; }

.contents-wrap .revised_table .svctb tbody td.th_title { color: #000; text-align: center; font-weight: 700; line-height: 1.5em; word-break: keep-all; }

.contents-wrap .revised_info { margin: 20px 0 40px 0; }

.contents-wrap .revised_info h3 { font-size: 1.6rem; padding-bottom: .8em; color: #000; }

.contents-wrap .revised_info p { color: #333; font-size: .9rem; word-break: keep-all; }

.contents-wrap .revised_info .revised_date { margin: 20px 0 0 0; }

.contents-wrap .revised_info .revised_date dt { font-weight: 600; color: #333; padding: .6em 0 .3em 0; }

.contents-wrap .revised_info .revised_date dd { color: #666; }

a.point { color: #00907F !important; }

.darker { color: black; }

.slidemenu-wrap { position: fixed; top: 0; left: -120%; width: 100%; height: 100%; background: #333333; z-index: 2000; }

.slidemenu-wrap .my-area { position: relative; padding: 60px 18px; text-align: center; color: #fff; background: #00907F; }

.slidemenu-wrap .my-area .img { margin-bottom: 10px; }

.slidemenu-wrap .my-area .name { font-size: 16px; }

.slidemenu-wrap .my-area .service { margin-top: 6px; font-size: 18px; font-weight: bold; }

.slidemenu-wrap .my-area .slidemenu-close { position: absolute; top: 0; right: 0; width: 55px; height: 55px; background: url(../../images/icon_close_w.png) no-repeat center; background-size: 55px; }

.slidemenu-wrap .gnb-wrap { padding-top: 15px; }

.slidemenu-wrap .gnb-wrap .gnb .gnb-link { padding: 24px 18px; display: block; font-size: 14px; color: #fff; background: url(../../images/icon_link.png) no-repeat; background-size: 24px 24px; background-position: top 50% right 11px; }

.mainlist-wrap { padding: 55px 0; margin-top: 10vh; }

.mainlist-wrap .maintitle { margin-bottom: 10px; font-weight: bold; width: 100%; }

.mainlist-wrap a:hover { opacity: 1; }

.mainlist { width: 70%; margin: 0px auto 3rem; border-radius: 10px; overflow: hidden; display: block; position: relative; z-index: 99; }

.mainlist > div:first-child { padding-top: 100%; background-size: cover; }

.mainlist .mainlist-txt { background: #fff; padding: 1.5rem 1rem; }

.mainlist .mainlist-txt .maintitle { font-size: 14px; word-break: keep-all; height: auto; }

.mainlist .mainlist-txt .maintitle .event { font-size: 11px; display: inline-block; margin-right: 5px; color: #fff; background: #510abd; padding: 2px 3px; }
.mainlist .mainlist-txt .maintitle .indent { font-size: 11px; display: inline-block; margin-right: 5px; color: #fff; width:35px; padding: 2px 3px; }

.mainlist .mainlist-txt .category { color: #979797; }

.mainlist .travel { background: url("../../images/main-travel.png") no-repeat center 0; }

.mainlist .hotel { background: url("../../images/main-hotel.png") no-repeat center 0; }

.mainlist .insurance { background: url("../../images/main-insurance.png") no-repeat center 0; }

.mainlist .hertz { background: url("../../images/main-hertz.png") no-repeat center 0; }

.mainlist .ktx { background: url("../../images/main-ktx.png") no-repeat center 0; }



.mainlist .srt { background: url("../../images/main-srt.png") no-repeat center 0; }
.mainlist .eSim { background: url("../../images/main-esim.png") no-repeat center 0; }
.mainlist .holeInOne { background: url("../../images/main-holeInOne.png") no-repeat center 0; }
.mainlist .goodLugg { background: url("../../images/main-goodlugg.png") no-repeat center 0; }
.mainlist .eSim-txt .maintitle{height:auto; margin-bottom: 15px;}

/*230224
.mainlist .travel2 { background: url("../../images/main-travel2.jpg") no-repeat center 0; }
.mainlist .badgeEvent{position:absolute; top:0; right:0; 
    background: #00907fd3; color:#fff; padding:1vw 2vw; font-size: 4.5vw; font-weight: bold;
    text-align: center; border-radius: 0 0  0 1.5vw;}
*/

/* 이미지 추가영역 */
.mainlist .travel2 { background: url("../../images/main-travel2408.jpg") no-repeat center; }
.mainlist .badgeEvent{position:absolute; top:0; right:0; 
    background: #00907fd3; color:#fff; padding:1vw 2vw; font-size: 4.5vw; font-weight: bold;
    text-align: center; border-radius: 0 0  0 1.5vw;}
/**/
.mainlist .pointshop { background: url("../../images/main-pointshop.png") no-repeat center 0; }

.mainlist .goodLugg { background: url("../../images/main-goodlugg.png") no-repeat center 0; }

.mainlist .data { background: url("../../images/main-data.png") no-repeat center 0; }

.mainlist .exchange-rate { background: url("../../images/main-exchange-rate.png") no-repeat center 0; }

.scrollIcon:after { content: ''; position: fixed; width: 23px; height: 29px; background: url("../../images/icon-scroll.png") no-repeat center; left: 50%; bottom: 10.1%; transform: translate(-50%, 0); animation: MoveUpDown 1s linear infinite; }

@keyframes MoveUpDown { 0%, 100% { bottom: 10%; }
	50% { bottom: 11%; } }

.barcode-area { margin-top: 20px; }

.cpn-barcode-box { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; min-width: 280px; }

.cpn-barcode-box .barcode { float: left; clear: both; padding: 0 10px; overflow: auto; height: auto; }

.cpn-barcode-box .right { float: right; }

.cpn-barcode-box .barcode + * { clear: both; }

.cpn-barcode-box .barcode div { float: left; height: 50px; }

.cpn-barcode-box .barcode .bar1 { border-left: 1px solid black; }

.cpn-barcode-box .barcode .bar2 { border-left: 2px solid black; }

.cpn-barcode-box .barcode .bar3 { border-left: 3px solid black; }

.cpn-barcode-box .barcode .bar4 { border-left: 4px solid black; }

.cpn-barcode-box .barcode .space0 { margin-right: 0; }

.cpn-barcode-box .barcode .space1 { margin-right: 1px; }

.cpn-barcode-box .barcode .space2 { margin-right: 2px; }

.cpn-barcode-box .barcode .space3 { margin-right: 3px; }

.cpn-barcode-box .barcode .space4 { margin-right: 4px; }

.cpn-barcode-box .barcode label { clear: both; display: block; padding-top: 6px; font-size: 14px; text-align: center; letter-spacing: 0; }

.coupon-top-wrap { padding: 30px 18px; text-align: center; }

.coupon-top-wrap .logo img { height: 30px; }

.coupon-top-wrap .cpnimg img { height: 100px; }

.coupon-top-wrap .text-notice { margin-top: 20px; font-weight: bold; color: #ff0000; }

.coupon-top-wrap .cost { padding-top: 8px; font-size: 16px; font-weight: bold; color: #000; }

.coupon-top-wrap .costinfo { padding-top: 5px; font-size: 12px; color: #848484; }

.coupon-top-wrap .date { padding-top: 15px; font-size: 12px; color: #538deb; }

.coupon-top-wrap .date2 { margin-top: 15px; font-size: 12px; }

.coupon-top-wrap .date2 span { display: inline-block; margin-right: 4px; padding: 3px 10px; min-width: 140px; min-height: 22px; color: #fff; background: #848484; vertical-align: middle; }

.coupon-top-wrap .subimg { padding-top: 10px; }

.coupon-top-wrap .subimg img { width: 102px; }

.coupon-top-wrap .coupon-button { margin-top: 20px; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; }

.coupon-top-wrap .coupon-button .coupon-viewlarge { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; width: 200px; height: 40px; font-weight: bold; color: #fff; background: #538deb; border-radius: 20px; }

.coupon-top-wrap .coupon-button .coupon-viewlarge span:before { content: ''; margin-right: 6px; display: inline-block; width: 12px; height: 12px; background: url(../../images/icon_large.png) no-repeat center; background-size: contain; vertical-align: middle; }

.coupon-top-wrap .coupon-button .coupon-link { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; width: 100%; height: 60px; color: #fff; background: #538deb; border-radius: 30px; }

.coupon-top-wrap .pin-area { padding-top: 20px; }

.coupon-top-wrap .pin-area .coupon-pin + .coupon-pin { margin-top: 10px; }

.coupon-top-wrap .pin-area textarea { height: 22px; color: #000; font-size: 14px; line-height: 20px; resize: none; border: 0; background: 0 0; outline: 0; overflow: hidden; appearance: none; -webkit-appearance: none; text-align: center;}

.coupon-top-wrap .pin-area button { padding: 0 10px; width: auto; height: 20px; line-height: 20px; font-size: 10px; color: #fff; background: #666; border-radius: 2px; }

.coupon-top-wrap .used { margin-top: 20px; padding: 12px; font-size: 12px; background: #fafafb; }

.coupon-top-wrap .used .info { margin-top: 10px; color: #848484; }

.coupon-top-wrap .notice { margin-top: 20px; font-size: 12px; color: #ff0000; }

.coupon-useguide-wrap { background: #fafafb; overflow: hidden; }

.coupon-useguide-wrap .coupon-inner-wrap { margin: 0 auto; padding: 30px 18px; max-width: 1024px; line-height: 1.4; }

.coupon-useguide-wrap .coupon-inner-wrap .title { margin: 0 0 20px; font-size: 14px; font-weight: bold; text-align: center; color: #000; }

.coupon-useguide-wrap .coupon-inner-wrap li { margin: 5px 0; }

.coupon-useguide-wrap .coupon-inner-wrap .info-text { padding-left: 1em; text-indent: -1em; }

.coupon-useguide-wrap .coupon-inner-wrap .info-text p { margin: 5px 0; }

.coupon-useguide-wrap .coupon-inner-wrap .important { margin-top: 18px !important; font-weight: bold; }

.coupon-useguide-wrap .button-wrap.button-mt { margin-bottom: 25px; }

.coupon-useguide-wrap .button-wrap.button-mt a.coupon-change { width: 200px; margin: 0 auto; background: #666666; }

div.scrollable { width: 100%; overflow: scroll; -webkit-overflow-scrolling: touch; -ms-overflow-style: none; }

iframe.external {width: 100%; height: 70vh; padding: 0; overflow: hidden;}

.loading-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); z-index: 1000; }

.loading-area { display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 40px; height: 40px; }

.loading-area img { width: 100%; }

.loading-area img.loading { -webkit-animation: spin 3s infinite linear; -o-animation: spin 3s infinite linear; -moz-animation: spin 3s infinite linear; animation: spin 3s infinite linear; }

@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); } }

@keyframes spin { 0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); } }

.gift-title { padding: 30px 0 10px; font-size: 16px; font-weight: bold; color: #000; }

.gift-title.first { padding-top: 0; }

.mygift { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -ms-flex-pack: space-between; padding: 16px; border: 1px solid #e5e5e5; }

.mygift + .mygift { border-top: 0; }

.mygift .left { font-size: 12px; color: #848484; }

.mygift .right { font-weight: bold; }

.change-notice { margin-top: 20px; font-size: 12px; color: #ff0000; }

.change-gift-wrap .radio-style { position: relative; text-align: center; border: 1px solid #e5e5e5; }

.change-gift-wrap .radio-style + .radio-style { border-top: none; }

.change-gift-wrap .radio-style input { position: absolute; margin: -1px; padding: 0; width: 1px; height: 1px; border: none; overflow: hidden; clip: rect(0, 0, 0, 0); }

.change-gift-wrap .radio-style input + label { display: block; padding: 15px; cursor: pointer; }

.change-gift-wrap .radio-style input:checked + label { color: #1e75d6; background: url(../../images/icon_selected.png) no-repeat; background-size: 14px 11px; background-position: top 50% left 20px; }

.change-end-wrap { padding: 30px 18px; text-align: center; background: #ebebeb; }

.change-end-wrap .icon { margin-bottom: 16px; }

.change-end-wrap .icon .icon-success { display: inline-block; width: 44px; height: 44px; background: url(../../images/icon_success.png) no-repeat center; background-size: contain; vertical-align: middle; }

.change-end-wrap .text1 { margin-bottom: 6px; font-size: 16px; font-weight: bold; color: #000; }

.selectbox-wrap { margin: 0 0 30px 0; }

.selectbox-wrap select { padding: 7px 10px; width: 100%; height: 40px; font-size: 14px; color: #000; background: transparent url(../../images/icon_select_arrow.png) no-repeat right; background-size: 26px 36px; background-position: right 10px top 50%; border: 1px solid #d8d8d8; border-radius: 4px; font-weight: 600; }

.selectbox-wrap select:focus, .selectbox-wrap select .selectbox-wrap select:hover { color: #1e75d6 !important; }

.terms-wrap { padding: 30px 18px; line-height: 1.4; }

.terms-wrap .header { margin-top: -30px; margin-bottom: 18px; }

.terms-wrap .header .subject { font-size: 16px; color: #000; }

.terms-wrap h2 { margin: 20px 0 10px; }

.terms-wrap ol li, .terms-wrap ul li { margin: 5px 0; color: #848484; }

ol ol { margin-left: 10px; }

.termAgree { height: 100vh; overflow: hidden; }

.svcinfo-wrap .svcinfo-top { height: auto; padding: 18px; }

.svcinfo-wrap .svcinfo-top:before, .svcinfo-wrap .svcinfo-top:after { content: ""; display: table; }

.svcinfo-wrap .svcinfo-top:after { clear: both; }

.svcinfo-wrap .svcinfo-top .logo { float: left; }

.svcinfo-wrap .svcinfo-top .contact-area { float: right; padding-bottom: 4px; }

.svcinfo-wrap .svcinfo-top .contact { display: table; font-size: 12px; border: 1px solid #e7e7e7; }

.svcinfo-wrap .svcinfo-top .contact p { display: table-cell; padding: 8px 10px; text-align: center; vertical-align: middle; }

.svcinfo-wrap .svcinfo-top .contact p + p { border-left: 1px solid #e7e7e7; }

.svcinfo-wrap .svcinfo-top .text-area { clear: both; }

.svcinfo-wrap .svcinfo-top .text-area .text-large { margin-top: 10px; font-size: 18px; color: #000; }

.svcinfo-wrap .svcinfo-top .text-area .text-normal { margin-top: 10px; font-size: 12px; }

.svcinfo-wrap .svcinfo-member { padding: 20px; font-size: 12px; text-align: center; background: #f8f8f8; }

.svcinfo-wrap .svcinfo-member span { white-space: nowrap; }

.svcinfo-wrap .svcinfo-member strong { font-weight: bold; text-decoration: underline; }

.svcinfo-detail { padding: 18px; font-size: 12px; }

.svcinfo-detail .detail-area + .detail-area { margin-top: 20px; }

.svcinfo-detail .subject { margin-bottom: 12px; font-size: 16px; font-weight: bold; }

.svcinfo-detail .subject img { vertical-align: middle; }

.svcinfo-detail p, .svcinfo-detail ul, .svcinfo-detail li { margin: 4px 0; line-height: 1.3; }

.svcinfo-detail .detail-title { margin-top: 10px; margin-bottom: 10px; padding: 2px; font-weight: bold; border-bottom: 1px solid #333; }

.svcinfo-detail .detail-inner-wrap { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -ms-flex-pack: space-between; }

.svcinfo-detail .detail-inner-wrap .detail-inner { width: 49%; }

.svcinfo-detail .svctb { margin: 4px 0; width: 100%; border: 1px solid #a8a8a8; }

.svcinfo-detail .svctb th, .svcinfo-detail .svctb td { padding: 8px; line-height: 1.3; border: 1px solid #a8a8a8; vertical-align: middle; }

.svcinfo-detail .svctb th.dark { font-weight: bold; background: #d0d0d0; }

.svcinfo-detail .svctb th.light { font-weight: bold; background: #eee; }

.svcinfo-detail .svctb .cpninfo { margin-bottom: 8px; padding-left: 1em; text-indent: -1em; }

.svcinfo-detail .svctb .cpninfo + .cpninfo { margin-top: -4px; }

.revised_info .revised_date { margin: 0 0 20px 0 dd; margin-color: #666; }

.revised_info p { color: #333; font-size: 1.0em; word-break: keep-all; }

.revisedWrap { border: 1px solid #ccc; background: #f2f2f2; padding: 0 20px 20px 20px; margin: 50px 0; }

.revisedTable { width: 100%; }

.revisedTable th { background: #f1f1f1; border: 1px solid #ccc; vertical-align: middle; padding: 5px; font-size: .9em; }

.revisedTable td { border: 1px solid #ccc; padding: 5px; text-align: center; vertical-align: middle; }

.revisedTable td:last-child { text-align: left; }

.txtpoint { color: #00907F !important; }

.agreePopup { height: 100%; overflow: hidden; }

.forms-agreements { border: 1px solid #e7e7e7; border-radius: 5px; }

.all-agree-check { padding: 10px; border-bottom: 1px solid #e7e7e7; }

.all-agree-check input[type=checkbox] { position: absolute; left: -9999px; }

.all-agree-check input[type=checkbox] + label { display: inline-block; position: relative; font-weight: bold; color: #757575; padding-left: 30px; cursor: pointer; width: 85%; margin-right: 5%; }

.all-agree-check input[type=checkbox] + label:before { content: ""; display: block; width: 20px; height: 20px; background: url(../../images/checkbox.png) 0 0 no-repeat; background-size: cover; position: absolute; top: 0; left: 0; transform: scale(0.8); }

.all-agree-check input[type=checkbox]:checked + label { color: #202020; }

.all-agree-check input[type=checkbox]:checked + label:before { background: url("../../images/checkbox_checked.png") 0 0 no-repeat; background-size: cover; }

.all-agree-check a { display: inline-block; width: 8px; height: 8px; position: relative; }

.all-agree-check a:after { content: ''; position: absolute; top: 50%; left: 50%; width: 8px; height: 8px; -webkit-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg); margin-top: -3px; border-right: 2px solid #757575; border-bottom: 2px solid #757575; }

.list-agreements li { padding: 10px; border-bottom: 1px solid #e7e7e7; background-color: #f7f7f7; }

.list-agreements li input[type=checkbox] { position: absolute; left: -9999px; }

.list-agreements li input[type=checkbox] + label { display: inline-block; position: relative; padding-left: 30px; cursor: pointer; word-break: keep-all; color: #757575; letter-spacing: -0.5px; width:calc(100% - 15px);}

.list-agreements li input[type=checkbox] + label:before { content: ""; display: block; width: 20px; height: 20px; background: url("../../images/checkbox01.png") 0 0 no-repeat; background-size: cover; position: absolute; top: 0; left: 0; }

.list-agreements li input[type=checkbox]:checked + label { color: #202020; }

.list-agreements li input[type=checkbox]:checked + label:before { background: url("../../images/checkbox01_checked.png") 0 0 no-repeat; background-size: cover; }

.list-agreements li input[type=checkbox]:checked ~ a:after { border-color: #202020; }

.list-agreements li:last-child { border-bottom: none; }

.list-agreements li .btn-view { width: 8px; height: 8px; position: relative; display: inline-block; vertical-align: top; }

.list-agreements li .btn-view:after { content: ''; position: absolute; top: 10px; left: 50%; width: 8px; height: 8px; -webkit-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg); margin-top: -3px; border-right: 2px solid #757575; border-bottom: 2px solid #757575; }

.pop-layer { position: absolute; bottom: 0; left: 0; width: 100%; height: auto; background-color: #fff; z-index: 10; }

.pop-layer .pop-container { padding: 40px 30px; }

.pop-layer p.ctxt { line-height: 1.5; word-break: keep-all; }

.pop-layer p.ctxt.mb15 { margin-bottom: 15px; }

.pop-layer .btn-c { text-align: center; margin: 20px 0; }

.pop-layer .btn-c a { padding: 15px; display: block; background: #e7e7e7; border-radius: 5px; color: #757575; }

.pop-layer .btn-c a.checked { background: #202020; color: #fff; }

.pop-layer .ctit { font-weight: bold; margin-bottom: 5px; color: #000; }

.pop-layer .list-type-dash { padding-left: 0.6em; word-break: keep-all; }

.pop-layer .pop-conts-box { background: #d203030f; padding: 10px; color: #666; }

.dim-layer { position: fixed; _position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 999; }

.dim-layer .dimBg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: .5; filter: alpha(opacity=50); z-index: 9999; }

.dim-layer .pop-layer { display: block; z-index: 99999; }

.layout-popup-modal-header { height: 30px; padding: 15px; display: flex; justify-content: space-between; }

.layout-popup-modal { position: fixed; top: 100px; z-index: 999; background: #fff; width: 100%; border-radius: 10px 10px 0 0; height: 100vh; display: none; }

.layout-popup-modal-contents { padding: 1rem; height: 65vh; }

.layout-popup-modal-contents iframe { width: 100%; height: 100%; }

.layout-popup-modal-footer { margin: 1rem; }

.layout-popup-modal-footer a { width: 100%; height: 45px; line-height: 45px; background: #202020; color: #fff; text-align: center; display: block; }

/* 레이어팝업 개인정보 제공동의*/
.privacy { font-size: 12px; margin: 10px 0 30px; }
.privacy h3 { margin: 20px 0 10px; }


/* 공지사항 */
.contents-wrap .inner-wrap {
    margin: 0 auto;
    padding: 30px 18px 10px;
    max-width: 1024px;
    line-height: 1.4;
}

.contents-wrap .inner-wrap h2 {
    color: #000;
    font-size: 1.5rem;
    padding: 30px 0 15px;
}

.contents-wrap .inner-wrap h2.first, .contents-wrap .inner-wrap.no-top {
    padding-top: 0;
}

.notice_wrap .notice_quantity {
    color: #666;
    margin-bottom: 10px;
}

.contents-wrap .inner-wrap p {
    color: #232323;
    font-size: .9rem;
    line-height: 1.7em;
	margin:0 0 5px;
}

.notice_list {
	margin-bottom: 40px;
}

.notice_list li {
    border-bottom: 1px solid #ddd;
    background: #fff url(../images/icon_arrow_notice.png) no-repeat;
    background-position: top 50% right 20px;
    background-size: auto 20px;
    position: relative;
}

.notice_list li a {
	display: block;
	box-sizing: border-box;
	padding: 17px 0 10px 0;
}

.notice_list li:nth-child(1) {
    border-top: 1px solid #ddd;
}

.notice_more {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 20px 0 0;
}
.notice_more, .tabs-menu li {
    position: relative;
    text-align: center;
}

.notice_list li a .title .new {
    position: absolute;
    top: 15px;
    right: 20px;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 0;
    text-indent: 100%;
    overflow: hidden;
    color: transparent;
    background: url(../../images/icon_noticeNew.png) no-repeat;
    background-size: contain;
}

.faq_more .btn_more span, .notice_more .btn_more span {
    padding-right: 30px;
    background: url(../../images/icon_link_more.png) no-repeat right;
    background-size: 23px auto;
}

.contents-wrap .inner-wrap p.notice_view_content {
    background-color: #f6f6f6;
    border-top: 1px solid #e1e1e1;
    padding: 20px 15px 10px;
    font-size: 13px;
    position: relative;
    color: #666;
	margin: 0;
}

.contents-wrap .inner-wrap p {
    color: #666;
    font-size: .9rem;
    line-height: 1.7em;
}

.cpn-img {
    text-align: center;
    margin: 45px auto 30px;
}

.cpn-img img {
    display: block;
    margin:0 auto 10px
}

.cpn-img button {
    display: inline-block;
    padding: 5px 8px;
    background:#999;
    font-size: 11px;
    border-radius: 3px;
    color: #fff;
    margin-left: 10px;
}


#reContentsTable, #reAgree{
	width:100%;
	text-align:center;
	border:none;
	margin-top:20px;
}
#reContentsTable th,
#reContentsTable td,
#reAgree th,
#reAgree td{border:1px solid #ccc; padding:5px;} 
#reContentsTable th, #reAgree th{font-size:1.2em;}
#reContentsTable ol li{
	text-align:left;
	margin:5px 0;
}
.moreView>h3{
	font-size:1.2em;
	color:#333;
}

.moreView>h4,.moreView>div>h3{color:#333; font-size: 1.1em;
	margin:5px 0;}
.moreView>h5{color:#666; font-size: 0.9em;}

.m_div{width:20%; height:2px; border:none; background: #333; display: inline-block;}
#reAgree td{width:50%;}
#reAgree td div{text-align: left; font-size: 0.9em; line-height:1.5;}
#reAgree dt {font-weight: bold; font-size:12px;}
#reAgree dd {font-size:11px; text-indent: 15px;}
#reAgree dd.dep {font-size:11px; text-indent: 20px;}



/*230222*/
.table-hole{
    margin:10px;
    border:1px solid #ddd;
    border-collapse: collapse;
    width:100%;
}
.table-hole th,
.table-hole td{padding:10px;}
.table-hole h3{font-size:1.2rem;}
.table-hole th{text-align: left;}
.inner-wrap>.title{margin:0; font-size:1.2rem;}
.holeText{line-height: 2.5;}
.holeWrap{color:#888;}

.btnNoticeView{
    background-color: #333 !important;
    display: block;
    width:80%;
    border:none;
    border-radius: 10px;
    margin:10px auto;
    height:45px;
    line-height:45px;
    color:#fff !important;
    cursor: pointer;
    font-family: sans-serif !important;
}


#closeNotice{//서비스종료안내 자세히보기
    display: none;
    width:100vw;
    height:100%;
    padding-bottom: 30px;
    box-sizing: border-box;
    overflow-y: scroll;
    border-end-end-radius: 2px;
    border-left:1px solid #e3e3e3;
    border-right:1px solid #e3e3e3;
    border-bottom:1px solid #e3e3e3;
    background: #fff;
    z-index: 2005;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif !important;
    ul.notice_header{
        font-family: sans-serif !important;
        margin:0 auto;
        width:100%;
        display: flex;
        flex-wrap:row wrap;
        justify-content: space-between;
        align-items: center;
        li{
            &:first-child{width:90%; text-indent: 10%;}
            &:last-child{width:10%;}
            font-family: sans-serif !important;
            padding-top:10px;
            h2{
                font-size: 22px;
                text-align: center;
                font-family: sans-serif !important;
            }
            input{height:20px;}
        }
    }
    article.contents{
        width:100%;
        margin:0 auto;
        text-align: center;
        font-family: sans-serif !important;
        h3{margin:10px 0; font-weight: normal; }
        .tables{
            width:85%;
            margin:10px auto;
            border:1px solid #ccc;
            border-collapse: collapse;
            th,td{
                border:1px solid #ccc;
                padding:5px;
                vertical-align: middle;
                line-height: 1.5;
                font-family: sans-serif !important;
            }
            th{background-color: #f4f4f4;}
            td{padding-left:20px;}
        }
        ul>li{
            text-align: left;
        }
    }
}