#toastPopupA{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left:0;
    bottom:0;
    z-index: 2005;
    transition: all .4s;

    &.toastHide{
        transition: all .5s;
        overflow: hidden;
        opacity: 0;
        .contents_wrap{
            height:0;
            transition-delay: .1s;
            transition: all 0.8s;
        }
    }
    &.toastShow{
        .back{
            transition: all .2s;
            background-color: rgba(0,0,0,0.6) !important;
        }
        .contents_wrap{
            overflow: hidden;
            height:350px;
            transition-delay: .1s;
            transition: all .5s;
        }
    }

    .back{
        position: absolute;
        left:0; top:0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0);
    }
    .contents_wrap{
        background-color: #dcdcdc;
        margin:0 auto;
        width: 100vw;
        height:350px;
        position: absolute;
        bottom:0;
        border-top-left-radius: 5vw;
        border-top-right-radius: 5vw;
        overflow: hidden;
        padding:0px;
        box-sizing: border-box;
        text-align: center;
        .title{
            font-size: 5vw;
            text-align: center;
            height:60px;
            line-height: 60px;
        }
        .text{
            left:0;
            text-align: center;
            overflow-y: scroll;
            height:210px;
            overflow-y: scroll;
            &::-webkit-scrollbar {width: 6px;}
            &::-webkit-scrollbar-track {background: transparent; }
            &::-webkit-scrollbar-thumb {background: #333;}
            &::-webkit-scrollbar-thumb:hover {background: #333;}
            pre{
                font-size: 4vw;
                line-height: 1.3;
            }
        }
    }
    .button_wrap{
        .button_list{
            position: absolute;
            bottom:0;
            width: 100%;
            display: flex;
            flex-wrap: row wrap;
            justify-content: center;
            align-items: center;
            >li{width:50%;}
            input{
                border:none;
                outline: none;
                width:100%;
                height:35px;
                background:#888;
                color:#fff;
                font-size: 14px;
                box-sizing: border-box;
                cursor: pointer;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                &.btn_close{}
                &.btn_week_close{border-left:1px solid #fff;}
            }
        }
    }

    a.btn_more_view{
        display: block;
        width:90%;
        margin:0 auto;
        background:#333;
        border-radius: 8px;
        height:40px;
        line-height:40px;
        text-align: center;
        color:#fff;
        position: absolute;
        bottom:50px;
        left:50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 380px) {
    .title{
        font-size: 4vw !important;
    }
    pre{
        font-size: 3vw !important;
    }
}
@media (min-width: 580px) {
    .title{
        font-size: 26px !important;
    }
    pre{
        font-size: 18px !important;
    }
    .contents_wrap{
        height:380px !important;
    }
}


// @media (orientation: landscape) {
//     .title{font-size:3vw !important;}
//     .text{margin:0 !important;}
//     pre{font-size:2.2vw!important; line-height: 1.1 !important;}
//     .contents_wrap{height:85vh !important;}

// }

/*공지사항 안내*/
#boardNotice{
    padding:30px;
    box-sizing: border-box;
    background-color: #f3f3f3;
    width:96%;
    margin:10px auto;
    >h3.title{
      font-size: 26px;
      margin:5px 0;
      font-weight: bold;
      text-align: left;
      width: 100%;
    }
    p{
      font-size: 16px;
      margin:10px 0;
    }
    ul{
      margin: 20px 0 0 0;
      li{
        margin:5px 0;
        strong{
          display: block;
          margin:20px 0;
        }
      }
    }
    h3{text-align: right;}
    input[type=button]{
        outline: none;
        background-color: #000;
        color:#fff;
        padding:5px 20px;
    }
  }
