@charset "UTF-8";
#toastPopupA {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  bottom: 0;
  z-index: 2005;
  transition: all 0.4s;
}
#toastPopupA.toastHide {
  transition: all 0.5s;
  overflow: hidden;
  opacity: 0;
}
#toastPopupA.toastHide .contents_wrap {
  height: 0;
  transition-delay: 0.1s;
  transition: all 0.8s;
}
#toastPopupA.toastShow .back {
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.6) !important;
}
#toastPopupA.toastShow .contents_wrap {
  overflow: hidden;
  height: 350px;
  transition-delay: 0.1s;
  transition: all 0.5s;
}
#toastPopupA .back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}
#toastPopupA .contents_wrap {
  background-color: #dcdcdc;
  margin: 0 auto;
  width: 100vw;
  height: 350px;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
  overflow: hidden;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}
#toastPopupA .contents_wrap .title {
  font-size: 5vw;
  text-align: center;
  height: 60px;
  line-height: 60px;
}
#toastPopupA .contents_wrap .text {
  left: 0;
  text-align: center;
  overflow-y: scroll;
  height: 210px;
  overflow-y: scroll;
}
#toastPopupA .contents_wrap .text::-webkit-scrollbar {
  width: 6px;
}
#toastPopupA .contents_wrap .text::-webkit-scrollbar-track {
  background: transparent;
}
#toastPopupA .contents_wrap .text::-webkit-scrollbar-thumb {
  background: #333;
}
#toastPopupA .contents_wrap .text::-webkit-scrollbar-thumb:hover {
  background: #333;
}
#toastPopupA .contents_wrap .text pre {
  font-size: 4vw;
  line-height: 1.3;
}
#toastPopupA .button_wrap .button_list {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: row wrap;
  justify-content: center;
  align-items: center;
}
#toastPopupA .button_wrap .button_list > li {
  width: 50%;
}
#toastPopupA .button_wrap .button_list input {
  border: none;
  outline: none;
  width: 100%;
  height: 35px;
  background: #888;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}
#toastPopupA .button_wrap .button_list input.btn_week_close {
  border-left: 1px solid #fff;
}
#toastPopupA a.btn_more_view {
  display: block;
  width: 90%;
  margin: 0 auto;
  background: #333;
  border-radius: 8px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 380px) {
  .title {
    font-size: 4vw !important;
  }
  pre {
    font-size: 3vw !important;
  }
}
@media (min-width: 580px) {
  .title {
    font-size: 26px !important;
  }
  pre {
    font-size: 18px !important;
  }
  .contents_wrap {
    height: 380px !important;
  }
}
/*공지사항 안내*/
#boardNotice {
  padding: 30px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  width: 96%;
  margin: 10px auto;
}
#boardNotice > h3.title {
  font-size: 26px;
  margin: 5px 0;
  font-weight: bold;
  text-align: left;
  width: 100%;
}
#boardNotice p {
  font-size: 16px;
  margin: 10px 0;
}
#boardNotice ul {
  margin: 20px 0 0 0;
}
#boardNotice ul li {
  margin: 5px 0;
}
#boardNotice ul li strong {
  display: block;
  margin: 20px 0;
}
#boardNotice h3 {
  text-align: right;
}
#boardNotice input[type=button] {
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 5px 20px;
}